body {
    margin: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #95CEFF;
}

.wrapper {
    display: grid;
    grid-template-rows: 120px 70px 500px 100px;
    grid-template-columns: 1.5fr 2.5fr;
    grid-template-areas: "header header" "navbar navbar" "table-data graphic" "footer footer"
}

header {
    text-align: center;
    grid-area: header;
}

nav {
    
    grid-area: navbar;
    display: flex;
    align-self: center;
}

.topnav {
    background-color: #1C3AA9;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.graphic-data {
    margin: 0 auto;
    grid-area: graphic;
    align-self: center;
}

.table-data {
    display: flex;
    text-align: center;
    grid-area: table-data;
    padding-left: 50px;
    padding-top: 30px;
    flex-direction: column; 
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    
}

th,
td {
    padding: 15px;
    text-align: center;
    background-color: white;
}

#average-results {
    font-weight: bold;
    
}

footer {
    width: 100%;
    margin: auto;
    bottom: 0;
    position: fixed;
    background-color: #1C3AA9;
    color: white;
    text-align: center;
    grid-area: footer;
}